USE [BaseballStats]
GO
/****** Object:  Table [dbo].[AwardsShareManagers]    Script Date: 12/4/2022 8:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsShareManagers](
	[playerID] [nvarchar](9) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[awardID] [nvarchar](25) NOT NULL,
	[pointsWon] [smallint] NULL,
	[pointsMax] [smallint] NULL,
	[votesFirst] [smallint] NULL,
 CONSTRAINT [PK_AwardsShareManagers] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[awardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AwardsShareManagers] ([playerID], [lgID], [yearID], [awardID], [pointsWon], [pointsMax], [votesFirst]) VALUES (N'actama99', N'AL', 2011, N'BBWAA Manager of the Year', 16, 140, 0)
INSERT [dbo].[AwardsShareManagers] ([playerID], [lgID], [yearID], [awardID], [pointsWon], [pointsMax], [votesFirst]) VALUES (N'actama99', N'NL', 2007, N'BBWAA Manager of the Year', 4, 160, 0)
INSERT [dbo].[AwardsShareManagers] ([playerID], [lgID], [yearID], [awardID], [pointsWon], [pointsMax], [votesFirst]) VALUES (N'aloufe01', N'NL', 1992, N'BBWAA Manager of the Year', 65, 120, 3)
GO
ALTER TABLE [dbo].[AwardsShareManagers]  WITH CHECK ADD  CONSTRAINT [FK_AwardsShareManagers_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[AwardsShareManagers] CHECK CONSTRAINT [FK_AwardsShareManagers_People]
GO
