USE [BaseballStats]
GO
/****** Object:  Table [dbo].[Schools]    Script Date: 12/4/2022 8:26:29 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schools](
	[schoolID] [nvarchar](15) NOT NULL,
	[name_full] [nvarchar](255) NULL,
	[city] [nvarchar](55) NULL,
	[state] [nvarchar](55) NULL,
	[country] [nvarchar](55) NULL,
 CONSTRAINT [PK_Schools] PRIMARY KEY CLUSTERED 
(
	[schoolID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Schools] ([schoolID], [name_full], [city], [state], [country]) VALUES (N'abilchrist', N'Abilene Christian University', N'Abilene', N'TX', N'USA')
INSERT [dbo].[Schools] ([schoolID], [name_full], [city], [state], [country]) VALUES (N'adelphi', N'Adelphi University', N'Garden City', N'NY', N'USA')
INSERT [dbo].[Schools] ([schoolID], [name_full], [city], [state], [country]) VALUES (N'adrianmi', N'Adrian College', N'Adrian', N'MI', N'USA')
GO
