USE [BaseballStats2022]
GO
/****** Object:  Table [dbo].[SeriesPost]    Script Date: 7/3/2023 12:29:30 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SeriesPost](
	[teamIDwinner] [nvarchar](3) NOT NULL,
	[lgIDwinner] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[round] [nvarchar](5) NOT NULL,
	[teamIDloser] [nvarchar](3) NULL,
	[lgIDloser] [nvarchar](2) NULL,
	[wins] [smallint] NULL,
	[losses] [smallint] NULL,
	[ties] [smallint] NULL,
 CONSTRAINT [PK_SeriesPost] PRIMARY KEY CLUSTERED 
(
	[teamIDwinner] ASC,
	[lgIDwinner] ASC,
	[yearID] ASC,
	[round] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[SeriesPost] ([teamIDwinner], [lgIDwinner], [yearID], [round], [teamIDloser], [lgIDloser], [wins], [losses], [ties]) VALUES (N'ANA', N'AL', 2002, N'ALCS', N'MIN', N'AL', 4, 1, 0)
INSERT [dbo].[SeriesPost] ([teamIDwinner], [lgIDwinner], [yearID], [round], [teamIDloser], [lgIDloser], [wins], [losses], [ties]) VALUES (N'ANA', N'AL', 2002, N'ALDS1', N'NYA', N'AL', 3, 1, 0)
INSERT [dbo].[SeriesPost] ([teamIDwinner], [lgIDwinner], [yearID], [round], [teamIDloser], [lgIDloser], [wins], [losses], [ties]) VALUES (N'ANA', N'AL', 2002, N'WS', N'SFN', N'NL', 4, 3, 0)
GO
ALTER TABLE [dbo].[SeriesPost]  WITH CHECK ADD  CONSTRAINT [FK_SeriesPost_Teams] FOREIGN KEY([teamIDwinner], [lgIDwinner], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[SeriesPost] CHECK CONSTRAINT [FK_SeriesPost_Teams]
GO
ALTER TABLE [dbo].[SeriesPost]  WITH CHECK ADD  CONSTRAINT [FK_SeriesPost_Teams1] FOREIGN KEY([teamIDloser], [lgIDloser], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[SeriesPost] CHECK CONSTRAINT [FK_SeriesPost_Teams1]
GO
