USE [BaseballStats2022]
GO
/****** Object:  Table [dbo].[AwardsManagers]    Script Date: 7/2/2023 11:30:01 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsManagers](
	[playerID] [nvarchar](9) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[awardID] [nvarchar](50) NOT NULL,
	[tie] [nvarchar](1) NULL,
	[notes] [nvarchar](100) NULL,
 CONSTRAINT [PK_AwardsManagers] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[awardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AwardsManagers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'aloufe01', N'NL', 1994, N'BBWAA Manager of the Year', NULL, NULL)
INSERT [dbo].[AwardsManagers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'aloufe01', N'NL', 1994, N'TSN Manager of the Year', NULL, NULL)
INSERT [dbo].[AwardsManagers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'alstowa01', N'ML', 1955, N'TSN Manager of the Year', NULL, NULL)
GO
ALTER TABLE [dbo].[AwardsManagers]  WITH CHECK ADD  CONSTRAINT [FK_AwardsManagers_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[AwardsManagers] CHECK CONSTRAINT [FK_AwardsManagers_People]
GO
