USE [BaseballStats]
GO
/****** Object:  Table [dbo].[AllstarFull]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AllstarFull](
	[playerID] [nvarchar](9) NOT NULL,
	[teamID] [nvarchar](3) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[gameID] [nvarchar](12) NOT NULL,
	[gameNum] [smallint] NULL,
	[GP] [smallint] NULL,
	[startingPos] [smallint] NULL,
 CONSTRAINT [PK_AllstarFull] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[teamID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[gameID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AllstarFull] ([playerID], [teamID], [lgID], [yearID], [gameID], [gameNum], [GP], [startingPos]) VALUES (N'aaronha01', N'ATL', N'NL', 1966, N'NLS196607120', 0, 1, 7)
INSERT [dbo].[AllstarFull] ([playerID], [teamID], [lgID], [yearID], [gameID], [gameNum], [GP], [startingPos]) VALUES (N'aaronha01', N'ATL', N'NL', 1967, N'ALS196707110', 0, 1, 8)
INSERT [dbo].[AllstarFull] ([playerID], [teamID], [lgID], [yearID], [gameID], [gameNum], [GP], [startingPos]) VALUES (N'aaronha01', N'ATL', N'NL', 1968, N'NLS196807090', 0, 1, 9)
GO
ALTER TABLE [dbo].[AllstarFull]  WITH CHECK ADD  CONSTRAINT [FK_AllstarFull_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[AllstarFull] CHECK CONSTRAINT [FK_AllstarFull_People]
GO
ALTER TABLE [dbo].[AllstarFull]  WITH CHECK ADD  CONSTRAINT [FK_AllstarFull_Teams] FOREIGN KEY([teamID], [lgID], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[AllstarFull] CHECK CONSTRAINT [FK_AllstarFull_Teams]
GO
