USE [BaseballStats]
GO
/****** Object:  Table [dbo].[TeamsFranchises]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamsFranchises](
	[franchID] [nvarchar](3) NOT NULL,
	[franchName] [nvarchar](50) NOT NULL,
	[active] [nvarchar](2) NULL,
	[NAassoc] [nvarchar](3) NULL,
 CONSTRAINT [PK_TeamsFranchises] PRIMARY KEY CLUSTERED 
(
	[franchID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TeamsFranchises] ([franchID], [franchName], [active], [NAassoc]) VALUES (N'ALT', N'Altoona Mountain City', N'N', NULL)
INSERT [dbo].[TeamsFranchises] ([franchID], [franchName], [active], [NAassoc]) VALUES (N'ANA', N'Los Angeles Angels of Anaheim', N'Y', NULL)
INSERT [dbo].[TeamsFranchises] ([franchID], [franchName], [active], [NAassoc]) VALUES (N'ARI', N'Arizona Diamondbacks', N'Y', NULL)
GO
