USE [BaseballStats]
GO
/****** Object:  Table [dbo].[HallOfFame]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HallOfFame](
	[playerID] [nvarchar](9) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[votedBy] [nvarchar](64) NOT NULL,
	[ballots] [smallint] NULL,
	[needed] [smallint] NULL,
	[votes] [smallint] NULL,
	[inducted] [nvarchar](1) NULL,
	[category] [nvarchar](20) NULL,
	[needed_note] [nvarchar](25) NULL,
 CONSTRAINT [PK_HallOfFame] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[yearID] ASC,
	[votedBy] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HallOfFame] ([playerID], [yearID], [votedBy], [ballots], [needed], [votes], [inducted], [category], [needed_note]) VALUES (N'aaronha01', 1982, N'BBWAA', 415, 312, 406, N'Y', N'Player', NULL)
INSERT [dbo].[HallOfFame] ([playerID], [yearID], [votedBy], [ballots], [needed], [votes], [inducted], [category], [needed_note]) VALUES (N'abbotji01', 2005, N'BBWAA', 516, 387, 13, N'N', N'Player', NULL)
INSERT [dbo].[HallOfFame] ([playerID], [yearID], [votedBy], [ballots], [needed], [votes], [inducted], [category], [needed_note]) VALUES (N'adamsba01', 1937, N'BBWAA', 201, 151, 8, N'N', N'Player', NULL)
GO
ALTER TABLE [dbo].[HallOfFame]  WITH CHECK ADD  CONSTRAINT [FK_HallOfFame_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[HallOfFame] CHECK CONSTRAINT [FK_HallOfFame_People]
GO
