USE [BaseballStats]
GO
/****** Object:  Table [dbo].[AwardsPlayers]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AwardsPlayers](
	[playerID] [nvarchar](9) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[awardID] [nvarchar](25) NOT NULL,
	[tie] [nvarchar](1) NULL,
	[notes] [nvarchar](50) NULL,
 CONSTRAINT [PK_AwardsPlayers] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[awardID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[AwardsPlayers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'aaronha01', N'ML', 1956, N'TSN All-Star', NULL, N'OF')
INSERT [dbo].[AwardsPlayers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'aaronha01', N'ML', 1958, N'TSN All-Star', NULL, N'OF')
INSERT [dbo].[AwardsPlayers] ([playerID], [lgID], [yearID], [awardID], [tie], [notes]) VALUES (N'aaronha01', N'ML', 1959, N'TSN All-Star', NULL, N'OF')
GO
ALTER TABLE [dbo].[AwardsPlayers]  WITH CHECK ADD  CONSTRAINT [FK_AwardsPlayers_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[AwardsPlayers] CHECK CONSTRAINT [FK_AwardsPlayers_People]
GO
