USE [BaseballStats]
GO
/****** Object:  Table [dbo].[TeamsHalf]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TeamsHalf](
	[teamID] [nvarchar](3) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[Half] [nvarchar](1) NOT NULL,
	[divID] [nvarchar](1) NULL,
	[DivWin] [nvarchar](1) NULL,
	[Rank] [smallint] NULL,
	[G] [smallint] NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
 CONSTRAINT [PK_TeamsHalf] PRIMARY KEY CLUSTERED 
(
	[teamID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[Half] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[TeamsHalf] ([teamID], [lgID], [yearID], [Half], [divID], [DivWin], [Rank], [G], [W], [L]) VALUES (N'ATL', N'NL', 1981, N'1', N'W', N'N', 4, 54, 25, 29)
INSERT [dbo].[TeamsHalf] ([teamID], [lgID], [yearID], [Half], [divID], [DivWin], [Rank], [G], [W], [L]) VALUES (N'ATL', N'NL', 1981, N'2', N'W', N'N', 5, 52, 25, 27)
INSERT [dbo].[TeamsHalf] ([teamID], [lgID], [yearID], [Half], [divID], [DivWin], [Rank], [G], [W], [L]) VALUES (N'BAL', N'AL', 1981, N'1', N'E', N'N', 2, 54, 31, 23)
GO
ALTER TABLE [dbo].[TeamsHalf]  WITH CHECK ADD  CONSTRAINT [FK_TeamsHalf_Teams] FOREIGN KEY([teamID], [lgID], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[TeamsHalf] CHECK CONSTRAINT [FK_TeamsHalf_Teams]
GO
