USE [BaseballStats]
GO
/****** Object:  Table [dbo].[HomeGames]    Script Date: 3/13/2021 11:07:38 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HomeGames](
	[teamID] [nvarchar](3) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[parkID] [nvarchar](6) NOT NULL,
	[startDate] [date] NULL,
	[endDate] [date] NULL,
	[games] [smallint] NULL,
	[openings] [smallint] NULL,
	[attendance] [int] NULL,
 CONSTRAINT [PK_HomeGames] PRIMARY KEY CLUSTERED 
(
	[teamID] ASC,
	[lgID] ASC,
	[yearID] ASC,
	[parkID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[HomeGames] ([teamID], [lgID], [yearID], [parkID], [startDate], [endDate], [games], [openings], [attendance]) VALUES (N'ALT', N'UA', 1884, N'ALT01', CAST(N'1884-04-30' AS Date), CAST(N'1884-05-31' AS Date), 18, 0, 0)
INSERT [dbo].[HomeGames] ([teamID], [lgID], [yearID], [parkID], [startDate], [endDate], [games], [openings], [attendance]) VALUES (N'ANA', N'AL', 1997, N'ANA01', CAST(N'1997-04-02' AS Date), CAST(N'1997-09-28' AS Date), 82, 81, 1774702)
INSERT [dbo].[HomeGames] ([teamID], [lgID], [yearID], [parkID], [startDate], [endDate], [games], [openings], [attendance]) VALUES (N'ANA', N'AL', 1998, N'ANA01', CAST(N'1998-04-01' AS Date), CAST(N'1998-09-23' AS Date), 81, 81, 2519280)
GO
ALTER TABLE [dbo].[HomeGames]  WITH CHECK ADD  CONSTRAINT [FK_HomeGames_Parks] FOREIGN KEY([parkID])
REFERENCES [dbo].[Parks] ([parkID])
GO
ALTER TABLE [dbo].[HomeGames] CHECK CONSTRAINT [FK_HomeGames_Parks]
GO
ALTER TABLE [dbo].[HomeGames]  WITH CHECK ADD  CONSTRAINT [FK_HomeGames_Teams] FOREIGN KEY([teamID], [lgID], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[HomeGames] CHECK CONSTRAINT [FK_HomeGames_Teams]
GO
