USE [BaseballStats]
GO
/****** Object:  Table [dbo].[PitchingPost]    Script Date: 7/19/2018 5:46:03 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PitchingPost](
	[playerID] [nvarchar](9) NOT NULL,
	[teamID] [nvarchar](3) NOT NULL,
	[lgID] [nvarchar](2) NOT NULL,
	[yearID] [smallint] NOT NULL,
	[round] [nvarchar](10) NOT NULL,
	[W] [smallint] NULL,
	[L] [smallint] NULL,
	[G] [smallint] NULL,
	[GS] [smallint] NULL,
	[CG] [smallint] NULL,
	[SHO] [smallint] NULL,
	[SV] [smallint] NULL,
	[IPouts] [int] NULL,
	[H] [smallint] NULL,
	[ER] [smallint] NULL,
	[HR] [smallint] NULL,
	[BB] [smallint] NULL,
	[SO] [smallint] NULL,
	[BAOpp] [float] NULL,
	[ERA] [float] NULL,
	[IBB] [smallint] NULL,
	[WP] [smallint] NULL,
	[HBP] [smallint] NULL,
	[BK] [smallint] NULL,
	[BFP] [smallint] NULL,
	[GF] [smallint] NULL,
	[R] [smallint] NULL,
	[SH] [smallint] NULL,
	[SF] [smallint] NULL,
	[GIDP] [smallint] NULL,
 CONSTRAINT [PK_PitchingPost] PRIMARY KEY CLUSTERED 
(
	[playerID] ASC,
	[yearID] ASC,
	[lgID] ASC,
	[teamID] ASC,
	[round] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[PitchingPost]  WITH CHECK ADD  CONSTRAINT [FK_PitchingPost_People] FOREIGN KEY([playerID])
REFERENCES [dbo].[People] ([playerID])
GO
ALTER TABLE [dbo].[PitchingPost] CHECK CONSTRAINT [FK_PitchingPost_People]
GO
ALTER TABLE [dbo].[PitchingPost]  WITH CHECK ADD  CONSTRAINT [FK_PitchingPost_Teams] FOREIGN KEY([teamID], [lgID], [yearID])
REFERENCES [dbo].[Teams] ([teamID], [lgID], [yearID])
GO
ALTER TABLE [dbo].[PitchingPost] CHECK CONSTRAINT [FK_PitchingPost_Teams]
GO
